/*导航栏*/
.navbar-fixed-top{border: none;}
.navbar-fixed-top{height: 63px;}
.navbar-nav li{font-size: 18px;}
.nav>li>a {position: relative; display: block; padding: 10px 20px;}
.navbar-nav .dropdown{background-color: rgba(224, 166, 186, 0)  }/*导航栏直播类型背景颜色*/
.head_right ul{margin-left:19%;}
.navbar-default .navbar-nav>li>a{font-size: 17px;font-family: Arial,Verdana,Sans-serif;color: #ffffff;font-weight: 400;}
.navbar .container .container-fluid .collapse .nav li a:hover{color: #ffffff;}
.navbar-brand{margin-left:-140%;}
.logo img{height:90%;margin-top:-10px;position:absolute;draggable:false;}
.logo span{padding: 7px 0 0 5px;position: absolute;margin-left:80px;color: #ffffff;font-weight:600;}
@media (min-width: 768px){
    .navbar-nav>li>a {
        padding-top: 22px;
        padding-bottom: 22px;
    }
}
li{list-style: none;margin: 0;padding: 0;}
a:link,a:visited{color: #ffffff;text-decoration: none;}

@media screen and (min-width:765px) and (max-width:1000px){
    .navbar-nav li{font-size: 12px;}
    .navbar-default .navbar-nav>li>a{font-size: 12px;font-family: Arial,Verdana,Sans-serif;color: #ffffff;font-weight: 300;}
    .logo span{padding: 7px 0 0 5px;font-size:12px;position: absolute;margin-left:55px;color: #ffffff;font-weight:600;}
    .head_right ul{margin-left:12%;}
}

/*导航栏鼠标移上特效*/
.m-hd:hover {background-color: rgba(0, 0, 0, .3)}
.m-nav>li>a,.m-snav a {color: #fff}
.m-nav-act {height: 3px; line-height: 3px; background-color: #fff;position: absolute;bottom: 5px; left: 164px; width: 50px;
             opacity: 0;transition: left .5s;
            -moz-transition: left .5s;
            -webkit-transition: left .5s;
            -o-transition: left .5s
}


.m-nav>li:hover .m-menu {height: auto;opacity: 1;filter: Alpha(opacity=100);font-size: 12px;padding: 40px 0 20px 60px }
.m-menu {
    position: absolute;
    background-color: #fff;
    height: 0;
    top: 60px;
    left: 0;
    opacity: 0;
    filter: Alpha(opacity=0);
    overflow: hidden;
    transition: height .5s;
    -moz-transition: height .5s;
    -webkit-transition: height .5s;
    -o-transition: height .5s
}

/*鼠标移上lcon跳动*/
@-webkit-keyframes test{
    0%{
        transform:translate(0,0)
    }
    50%{
        transform:translate(0,5px)
    }
    100%{
        transform:translate(0,0)
    }
}
.beat:hover{
    -webkit-animation:test 0.25s ease-in 3;
}

/*鼠标移上lcon旋转*/
.box_img img:hover{
    transform:rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
}
img{
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out ;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

/*底部*/
.footer{margin-top: 50px;/*border: 1px solid red;*/}
.footer .container .row .footer_d div{height:250px;margin-top: 38px;/*border: 1px solid red;*/}
.footer .container .row .col-md-6 div{width:250px;height: 100px;margin-top:35px;}
.footer .container .row .col-md-6 div img{width:70%;height: 70%;draggable:false;}
.footer .container .row .col-md-6 .text{color:#969696;;font-family: SourceHanSansCN-Normal;font-size:14px;}
.footer  .container .row .footer_d div h4{color: #333333;font-family: SourceHanSansCN-Normal;font-size:24px;}
.footer  .container .row .footer_d div p{color: #969696;font-family: SourceHanSansCN-Normal;font-size: 14px;}
.footer  .container .row .footer_d div p span{color: #969696;font-family: SourceHanSansCN-Normal;font-size:15px;}
.footer  .container .row .footer_d div .footer_text{margin-top: 29px;}

.footer  .container .row .col-md-2 div p{text-align:left;color: #333333;font-size:20px;}
.footer  .container .row .col-md-2 img{width: 120px;height: 120px;draggable:false;}

.panel-footer{background-color:  #f1f1f1;}
.panel-footer P{color:#969696;font-size: 13px;}
.panel-footer .panel_img img{margin-right:25px;draggable:false;}

@media screen and (min-width:990px) and (max-width:1200px) {
    .panel-footer{background-color:  #f1f1f1;}
    .panel-footer P{color:#969696;font-size: 13px;}
    .panel-footer .panel_img img{margin-right:25px;width:11%;raggable:false;}

}




