@charset "utf-8";


/* a:hover{ text-decoration:none;color:#ff4f20;} */

.m-hd {
  height: 60px;
  z-index: 11
}




.m-hd:hover {
  background-color: rgba(0, 0, 0, .3)
}

.m-nav>li>a,
.m-snav a {
  color: #fff
}


.m-nav-act {
  height: 3px;
  line-height: 3px;
  background-color: #fff;
  position: absolute;
  bottom: 5px;
  left: 164px;
  width: 50px;
  opacity: 0;
  transition: left .5s;
  -moz-transition: left .5s;
  -webkit-transition: left .5s;
  -o-transition: left .5s
}


.m-nav>li:hover .m-menu {
  height: auto;
  opacity: 1;
  filter: Alpha(opacity=100);
  font-size: 12px;
  padding: 40px 0 20px 60px
}

.m-menu {
  position: absolute;
  background-color: #fff;
  height: 0;
  top: 60px;
  left: 0;
  opacity: 0;
  filter: Alpha(opacity=0);
  overflow: hidden;
  transition: height .5s;
  -moz-transition: height .5s;
  -webkit-transition: height .5s;
  -o-transition: height .5s
}


