/*body距顶及字体设置*/
/*body{margin-top: 65px;}*/
h1,h2,h3,h4,h5,p,a,li,span{font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}

/*title设置*/
.title_img img{width: 100%; draggable:false;}
/* 导航条设置开始 */
.navbar .container .container-fluid .collapse .nav li{font-size: 15px;}
.navbar .container .container-fluid .collapse .nav>li>a{position: relative;display: block;padding: 10px 20px;color: #ffffff;}
.navbar .container .container-fluid .collapse .nav li a:hover{color: #000000;}
.navbar .container .container-fluid .collapse .nav .dropdown{background-color: #f8f8f8;}
/*.navbar .container .container-fluid .navbar-header .logo img{width: 60px;height: 60px;margin-top: -14px;draggable:false;}*/
.navbar .container .container-fluid .navbar-header .logo span{float: right;padding: 7px 0 0 5px;}
@media (min-width: 768px){.navbar .container .container-fluid .collapse .nav>li>a {padding-top: 22px;padding-bottom: 22px;}}
/* 导航条设置结束 */

/* 轮播图开始 */
/*.carousel .carousel-inner .item img{width: 100%;height: 450px;}
.carousel .carousel-control.right {
    right: 0;
    left: auto;
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,0)),to(rgba(0,0,0,0)));
    background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x;
}
.carousel .carousel-control.left {
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,0)),to(rgba(0,0,0,0)));
    background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x;
}*/
/* 轮播图结束 */
/*banner图*/
.banner{position: relative;}
.banner img{width: 100%;draggable:false;}
.banner .button{position: absolute;top:65%;left:20%;/*border: 1px solid red;*/}
.banner .button button{background-color: #fd4b11;border-color:#fd4b11;color: #ffffff;outline: none;font-size: 12px;width: 130px;height: 40px;border-radius: 6px;}

/* 技术支持开始（第一页） */
.zhichi_fuxian{/*opacity: 0;*/margin-top: 80px;background: url("../images/index/bg01.png");background-size: cover;background-repeat: no-repeat;}
.zhichi_fuxian .title1{text-align: center;color: #333333;font-size: 31px;}
/*.zhichi_fuxian #zhichi{margin: 5px 0 0 0;background-color: white;}*/
.zhichi_fuxian .zhichi .container .row .col-md-4{padding:0px;}
.zhichi_fuxian .zhichi .container .row .col-md-4 .zhichi-container{width: 100%;height:550px;margin-top: 25px;/*border: 1px solid red;*/}
.zhichi_fuxian .zhichi .container .row .col-md-4 .zhichi-container .zhichi_img{width:95%;margin: auto;position: relative;}
.zhichi_fuxian .zhichi .container .row .col-md-4 .zhichi-container .zhichi_img img{width: 100%;text-align: center;draggable:false;}
.zhichi_fuxian .zhichi .container .row .col-md-4 .zhichi-container .zhichi-text{width:85%;margin: 0 auto;margin-top: 25px;/*border: 1px solid red;*/}/*文字说明*/
.zhichi_fuxian .zhichi .container .row .col-md-4 .zhichi-container .zhichi-text h3{color: #333333;font-size: 20px;text-align: center;}
.zhichi_fuxian .zhichi .container .row .col-md-4 .zhichi-container .zhichi-text p{text-align: center;color: #969696;font-size: 14px;}
/* 技术支持结束（第一页） */

/* 我们的产品（第二页） */
.product{margin-top: 100px;}
.product .title2{text-align: center;color: #333333;font-size: 31px;}
.product .container{margin-top: 45px;}
/*.product .container .col-md-7 {border:1px solid red;;}*/
.product .container .col-md-7 .pd_content{width: 100%}
.product .container .col-md-7 .pd_content img{width: 100%;draggable:false;}
.product .pd_text .pd_t1{position: relative;margin-top:20px;}
.product .pd_text .pd_t1 img{width:29px;draggable:false;}
.product .pd_text .pd_t1 h4{position: absolute;top:-4px;left:37px;}
.product .pd_text .pd_t1 p{margin-left:37px;color: #969696;font-size: 14px;}
.product .container .col-md-5 .pd_text{width: 100%;/*border: 1px solid red;*/}
/* 我们的产品（第二页） */

/* 直播系统（第三页） */
.fun{margin-top:80px;background: url("../images/index/bg03.png");background-size: cover;background-repeat: no-repeat;/*border:1px solid red;*/width: 100%;height: 550px;}
.fun .title3 p{text-align: center;color: #ffffff;font-size: 31px;line-height:150px;}
.fun .row1 .col-md-2{/*border: 1px solid red;*/height:130px;text-align: right;}
.fun .row1 .col-md-2 p{color: #ffffff;font-size: 16px;line-height:45px;margin-right:0px;}
.fun .row2 .col-md-2{height:130px;text-align:left;}
.fun .row2 .col-md-2 p{color: #ffffff;font-size: 16px;line-height:45px;margin-right:0px;}

/*咨询我们*/
.dibu_fuxian{margin-top:0px;}
.dibu_fuxian .zixun-bg{height:500px;background: url("../images/index/bg02.png");background-size: cover;background-repeat: no-repeat;border:1px solid rgba(255, 255, 255, 0);}
.dibu_fuxian .zixun-bg .zixun{width: 100%;height:200px;}
.dibu_fuxian .zixun-bg .zixun p{font-size:31px; color:#333333;margin-top:150px;}
.dibu_fuxian .zixun-bg .zixun button{font-size: 12px;margin-top: 150px;background-color: #fd4b11;border-color: #fd4b11;outline: none;color: #ffffff;width: 130px;height: 40px;border-radius: 6px; }

/* 底部特效opactiy设置 */
/*.dibu_fuxian{opacity: 0;}*/
